.mainWrapper {
    width: 760px;
    margin: 0 auto;
    height: 100vh;
    box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.04);
}
.contentWrapper {
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}